$start: flex-start;
$end: flex-end;
$around: space-around;
$between: space-between;
$shadow: 0px 4px 15px -1px rgba(255, 0, 0, 0.733);
$shadow-hover: 0px 4px 15px -1px rgb(0, 0, 0);
$font-color : rgb(0, 0, 0);
$font-color-active : rgb(255, 255, 255);
$bg: #0008;
$color: #000;

@mixin flex($justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin flex-column($justify: center, $align: center){
    display: flex;
    flex-flow: column;
    justify-content: $justify;
    align-items: $align;
}