@import './variables';
.page{
    width: 100%;
    height: auto;
    .wrapper{
        @include flex-column();
        margin: 0 auto;
        width: 80%;
        height: auto;
        margin-top: 20px;
        .keyboard{
            @include flex-column();
            width: 100%;
            height: 300px;
            margin: 10px 0;
            &--row{
                @include flex($between, center);
                width: 100%;
                height: 60px;
            }
        }
    }
    .btn{
        @include flex-column($around);
        flex: 1 1 50px;
        height: 95%;
        margin: 1px;
        background: #fff;
        color: rgb(148, 11, 211);
        box-shadow: $shadow;
        transition: all .3s ease;
        font-size: 1.5em;
        &:hover{
            cursor: pointer;
            box-shadow: $shadow-hover;
        }
        &:active{
            border-radius: 15px;
            box-shadow: $shadow-hover;
            background: rgb(148, 11, 211);
            color: #fff;
        }
    }
    .active{
        transition: all .3s ease;
        border-radius: 15px;
        box-shadow: $shadow-hover;
        background: rgb(148, 11, 211);
        color: #fff;
    }
    .prime{
        font-size: 1.3rem;
    }
}